.App {
  text-align: center;
}

.bottom-button {
  position: fixed;
  bottom: 0;
  height: 65px;
  cursor: pointer;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.body-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: calc(100% - 65px);
}

.divider {
  width: 80%;
  margin:auto;
  height: 3px;
  background-color: black;
}

.main-body {
  width: 100%;
  padding-bottom: 65px;
  height: calc(100vh - 65px - 65px);
  background-color: #292929;
}


@media screen and (min-width: 576px) {

  .body-inner,
  .bottom-button {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {

  .body-inner,
  .bottom-button {
    min-width: 550px;
    max-width: 750;
    width: 70%;
  }
}